* {
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
    margin: 0;
}

/* Edição Cabeçalho */
.cabecalho {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 2em;
}
.cabecalho .titulo, .cabecalho .titulo a {
    display: flex;
    align-items: center;
}
.cabecalho a {
    padding: 0 1em;
    color: #545454;
    text-decoration: none;
}
.cabecalho a:hover {
    color: #FE0078;
    text-decoration: underline;
}
.navegacao, .navegacao a {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}
img {
    display: flex;
    width: 70px;
    height: 70px;
    padding-right: 8px;
}
.cabecalho h1, .cabecalho h3 {
    padding-left: 6px;
}

/* Edição Conteúdo */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.texto-importante {
    color:blueviolet;
    font-weight: bold;
}
h4 {
    padding-bottom: 3px;
}
h5 {
    padding:3px 0 30px 0;
}
hr {
    margin-top: -10px;
    margin-bottom: 10px;
}
li {
    padding-bottom: 5px;
}

/* Edição Conteúdo-Cards */
.card, .card-1 {
    display: flex;
    height: fit-content;
    width: 1200px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 60px;
    padding: 2em;
    margin: 1em;
}
.card h3, .card-1 h3 {
    padding-top: 20px;
}
.card .card-cabecalho, .card-1 .card-cabecalho, .card h3, .card-1 h3 {
    padding-bottom: 25px;
}

/* Edição Conteúdo-Card "O que é Back-end" */
.conteudo-parte-1 {
    display: flex;
    align-content: top;
    align-items: top;
    padding-bottom: 38px;
}
.card-1 {
    position: relative;
}
.card-conteudo .conteudo-parte-1-img img {
    display: flex;
    width: 380px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 100px;
}
.pilares-banco {
    display: flex;
    justify-content: space-between;
    align-content: top;
    align-items: top;
    padding-top: 20px;
}
.pilares-banco-texto {
    max-width: 600px;
}

/* Edição Conteúdo-Card "Linguagem SQL" */
.perguntas-sql {
    display: block;
    background-color: #f7f7f7;
    padding: 16px 30px;
}
.informacoes-lado-a-lado {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}
.informacoes-lado-a-lado li ul {
    padding-right: 90px;

}
.lista {
    padding-top: 8px;
    min-width: 300px;
}