* {
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
    margin: 0;
}

/* Edição Cabeçalho */
.cabecalho {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 2em;
}
.cabecalho .titulo, .cabecalho .titulo a {
    display: flex;
    align-items: center;
}
.cabecalho a {
    padding: 0 1em;
    color: #545454;
    text-decoration: none;
}
.cabecalho a:hover {
    color: #FE0078;
    text-decoration: underline;
}
.navegacao, .navegacao a {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}
img {
    display: flex;
    width: 70px;
    height: 70px;
    padding-right: 8px;
}
.cabecalho h1, .cabecalho h3 {
    padding-left: 6px;
}

/* Edição Conteúdo */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.texto-importante {
    color:blueviolet;
    font-weight: bold;
}
.tipo-html {
    display: block; 
    padding: 10px 16px 10px 16px; 
    margin: -3px; 
    border: 1px solid lightgrey; 
    border-radius: 4px;
}
.valor-css {
    padding: 4px; 
    border: 1px solid lightgrey; 
    border-radius: 4px;
}

/* Edição Conteúdo-Cards */
.card {
    display: flex;
    height: fit-content;
    width: 1200px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 40px;
    padding: 2em;
    margin: 1em;
}
.card .card-cabecalho, .card h3 {
    padding-bottom: 25px;
}

/* Edição Conteúdo-Card "O que Front-End faz" */
.card-conteudo .pilares-web img {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding-right: 40px;
}
.pilares-web {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}
li {
    padding-bottom: 6px;
}

/* Edição Tabelas */
table {
    border-collapse: collapse;
    width: 1138px;
}
tr:first-child {
    font-weight: bold;
}
td:first-child {
    font-weight: bold;
}
td {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
}