* {
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

/* Edição Cabeçalho */
.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
    margin-bottom: 4em;
    background-color: white;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
}
.cabecalho a {
    padding: 0 1em;
    color: #545454;
    text-decoration: none;
}
.cabecalho a:hover {
    color: #FE0078;
    text-decoration: underline;
}
.titulo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.titulo a {
    display: flex;
    flex-shrink: 1;
    align-items: center;
}
.titulo a img {
    margin-right: 0.4em;
}
.navegacao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navegacao a {
    display: flex;
    align-items: center;
}
.navegacao a img {
    padding: 0.3em;
}

/* Edição Conteúdo */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2, hr {
    margin-bottom: 1em;
}
h4 {
    margin-top: 2em;
}
p {
    font-size: 14px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.card {
    display: flex;
    height: fit-content;
    max-width: 70%;
    min-width: 900px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 0 auto 50px auto;
    padding: 2em;
}
.card h3 {
    padding-top: 20px;
}
.card .card-cabecalho, .card h3 {
    padding-bottom: 25px;
}
.strong-cor {
    color:blueviolet;
    font-weight: bold;
}
.importante {
    font-size: 14px;
}
.lista-com-margem {
    margin-left: 1.5em;
}

/* Edição Conteúdo-Card "O que é Back-end" */
.card-conteudo-back {
    display: flex;
    justify-content: space-between;
}
.conteudo-parte-1 {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.conteudo-parte-2 {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
}
.banco-dados img {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 45px;
}

/* Edição Conteúdo-Card "Linguagem SQL" */
.perguntas-sql {
    display: block;
    background-color: #f7f7f7;
    color: darkgrey;
    padding: 1em 2em;
}
.sql-cor {
    color: #a71d5d;
}

/* Edição Conteúdo-Card "Informações Importantes" */
.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}
.operadores-relacionais {
    padding-right: 50px;
    min-width: max-content;
}
.operadores-relacionais ul, .tipos-dados ul {
    padding-top: 8px;
}
h4 a:hover {
    color: #FE0078;
    text-decoration: underline;
}