* {
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

/* Edição Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
    margin-bottom: 4em;
    background-color: white;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}
.cabecalho a {
    padding: 0 1em;
    color: #545454;
    text-decoration: none;
}
.cabecalho a:hover {
    color: #FE0078;
    text-decoration: underline;
}
.titulo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.titulo a {
    display: flex;
    align-items: center;
}
.titulo a img {
    margin: 0.5em;
}
.navegacao {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.navegacao a {
    display: flex;
    align-items: center;
}
.navegacao a img {
    padding: 0.3em;
}

/* Edição Conteúdo */
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-importante {
    color:blueviolet;
    font-weight: bold;
}
.tipo-html {
    display: block; 
    padding: 10px 16px 10px 16px; 
    margin: -3px; 
    border: 1px solid lightgrey; 
    border-radius: 4px;
}
.valor-css {
    display: inline-block;
    padding: 4px; 
    border: 1px solid lightgrey; 
    border-radius: 4px;
    margin-bottom: 4px;
}

/* Edição Conteúdo-Cards */
.card {
    display: flex;
    height: fit-content;
    max-width: 70%;
    min-width: 900px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 0 auto 50px auto;
    padding: 2em;
}
.card .card-cabecalho {
    padding-bottom: 25px;
}
.card h2 {
    margin-bottom: 1em;
}
.card h3 {
    margin: 1em 0 0.5em 0;
}
.card-conteudo .pilares-web img {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding-right: 40px;
}
.lista-com-margem {
    margin-left: 1.5em;
}
.pilares-web {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}
li {
    padding-bottom: 6px;
}
table {
    border-collapse: collapse;
    width: fit-content;
}
tr:first-child {
    font-weight: bold;
}
td:first-child {
    font-weight: bold;
}
td {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
}
.exemplo-de-codigo {
    display: block;
    background-color: #f7f7f7;
    padding: 16px 30px;
    margin-bottom: 15px;
}